@model WeeklyTasks?
@{
    ViewData["Title"] = "Index";
}

<div class="contiainer">
    <h2>Superior Performance</h2>

    @if (Model == null)
    {
        <p>You have not created any new tasks for this week. Please click reset tasks to get new tasks for this week.</p>
    }
    
    <form method="post" asp-action="ResetWeek" id="reset-week-form">
        <button type="submit" id="reset-week-btn">Reset Week</button>
    </form>
    
    <a href="/history">Past history</a>
    
    <div class="weekly-grid">
        @foreach (var dailyTasks in @Model.DailyTasksList)
        {
            <partial name="_DailyTasksList" model="@dailyTasks" />
        }
    </div>
</div>