@model List<WeeklyTasks>
@{
}

<table>
    <thead>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Tasks Done</td>
    </thead>
    @foreach (var pastWeek in Model)
    {
        <tr>
            <td>@pastWeek.StartDate.ToString("mmm/dd/yyyy")</td>
            <td>@pastWeek.EndDate.ToString("mmm/dd/yyyy")</td>
            @{
                var tasksDoneThisWeek = 0;
                for (int i = 0; i < pastWeek.DailyTasksList.Count; i++)
                {
                    tasksDoneThisWeek += pastWeek.DailyTasksList[i].TasksDone;
                }
            }
            <td>@tasksDoneThisWeek</td>
        </tr>
    }
</table>

